<!DOCTYPE html>
<html>
<head>
<title>PROJECT</title>
<style>
.container {
  position: relative;
  text-align: center;
  color: white;
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
font-family: Times New Roman;
color:white;
}
        }
  
   
    </style>
</head>
<body>
<table border="0" width="100%" bgcolor="black" height="8%">
<tr >
<th width="20000" align="left"><font color="white" size"8" >Online Shopping Intention Using ML</th>
<th width="100"><button style=background-color:#87CEEB;border-radius:5px;height:40px;><font  size="4"><a href="{{ url_for('home') }}" style="text-decoration: none;color:white" >Home</a></button></th>
<th width="100"><button style=background-color:#87CEEB;border-radius:5px;height:40px;><font size="4"><a href="{{ url_for('about') }}" style="text-decoration: none;color:white">About</a></button></th>
<th width="100"><button style=background-color:blue;border-radius:5px;height:40px;><font color="white" size="4"><a href="{{ url_for('predict') }}" style="text-decoration: none;color:white">Predict</a></button></th>
</tr>

 <tr>
<td colspan="4">
<div class="container">
  <img src="https://thumbs.dreamstime.com/b/e-commerce-online-shopping-digital-marketing-sales-business-technology-concept-137074336.jpg" alt="Snow" style="width:100%;">
  <div class="centered"><h2>Online shopping is the activity or action of buying products or services over the Internet. It means going online, landing on a seller's website, selecting something, and arranging for its delivery. The buyer either pays for the good or service online with a credit or debit card or upon delivery. The term does not only include buying things online but also searching for them online. In other words, I may have been engaged in online shopping but did not buy anything</h2></div>
</div>
</td>
</tr>
</table>

</body>
</html>