<!DOCTYPE html>
<html>
<head>
<title>PROJECT</title>
</head>
<body>
<table border="0" width="100%" bgcolor="black" height="8%">
<tr >
<th width="20000" align="left"><font color="white" size="8" >Online Shopping Intention Using ML</font></th>
<th width="100"><button style="background-color:#87CEEB;border-radius:5px;height:40px;"><font color="white" size="4"><a href="{{ url_for('home') }}" style="text-decoration: none;color:white" >Home</a></font></button></th>
<th width="100"><button style="background-color:#87CEEB;border-radius:5px;height:40px;"><font color="white" size="4"><a href="{{ url_for('about') }}" style="text-decoration: none;color:white">About</a></font></button></th>
<th width="100"><button style="background-color:blue;border-radius:5px;height:40px;"><font color="white" size="4"><a href="{{ url_for('predict') }}" style="text-decoration: none;color:white">Predict</a></font></button></th>
</tr>
<tr width="100%">
<td width="100%" align="center">
<img src="https://previews.123rf.com/images/limbi007/limbi0071304/limbi007130400225/19333878-shopping-bags-with-white-text-online-shop-white-background.jpg" width="120%" height="85.5%">
</td>
</tr>
</table>
</body>
</html>
